# Django
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
*.sqlite3

# Django migrations
*/migrations/
!*/migrations/__init__.py

# Environment
.env
.env.*
venv/
ENV/
env/
.venv/

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Static/media
/staticfiles/
/media/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
.pyre/